<h2>Similar Movies: <%=@movie.title%></h2>

<% @movie.similar_movies.each do |movie| %>
  <h5>Title: <%= movie[:title] %></h5>
  <p>Summary: <%= movie[:overview] %></p>
  <p>Release Date: <%= movie[:release_date] %></p>
  <p>Vote Average: <%= movie[:vote_average] %></p>
  <%= image_tag "https://image.tmdb.org/t/p/w92#{movie[:poster_path]}" %>
  <br>
  <br>
<% end %>
